body {
    background: #66AFA7;
    color: #3a3235;
}

.page--header {
    height: 100px;
    background: #3a3235;
}

.page--title {
    color: #66AFA7;
    line-height: 80px;
}

.btn-primary {
    background:#3a3235;
    border: none;
}

.btn-primary:hover {
    background: #997255;
}

.bear--card {
    background: #3a3235;
    color: #997255;
    text-align: center;
}

.inner--button {
    background: #997255;
}

.inner--button:hover {
    background: #EEBE91;
}

.Attempt {
    background: #fffcab; 
}

.Catch {
    background: #abffac;
}

.catch--counter {
    background: #997255;
    color: #3a3235;
}